html {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Overpass', sans-serif !important;
}

.page-title {
  color: #36456A;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 1rem;
}

/* Spin animation */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
