.form-holder {
  transition: 0.3s ease-in-out;
  /* max-width: 900px; */
  margin: auto;
  box-shadow: 0 10px 20px rgba(173, 173, 173, 0.65);
}

.form-holder:focus-within,
.form-holder:hover {
  overflow: hidden;
  transform: scale(1.015);
  box-shadow: 0 19px 26px rgba(173, 173, 173, 0.8);
}

.main-form {
  padding: 20px 10px;
  border-top-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.advanced-form {
  height: 40px;
  margin: 0;
  overflow: hidden;
  background-color: #969696;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.advanced-form .left-part {
  padding: 8px 2px 0 24px;
  background-color: #4114ac;
}

.advanced-form .right-part {
  padding: 8px 2px 0 24px;
  background-color: #bb0dbb;
}

.advanced-form .pre {
  color: #fff;
  position: absolute;
}

.advanced-form input {
  background: #ffffff47;
  color: #fff;
  border: 0;
  margin: -10px 6px 0 70px;
  border-radius: 6px;
  padding: 0 8px;
  width: -webkit-fill-available;
}

.advanced-form input:focus {
  border: 0;
}

.form-control {
  border: none;
  height: 60px;
  font-size: 28px;
  color: #000000;
  padding: 0px 84px 0px 10px;
  box-shadow: 0 0 0;
}

.input-group-text {
  background-color: #00000000;
  border: 0;
  border-radius: 0;
}

.url-input {
  transition: 0.3s ease-in-out;
  overflow: hidden;
  font-weight: 600;
  font-size: 34px;
}

/* .input-group.url:focus-within,
.input-group.url:hover {
  overflow: hidden;
  box-shadow: 0 19px 15px rgba(0, 125, 238, 0.5);
  transform: scale(1.015);
} */

.btn-default+.form-control:focus {
  height: 10px;
}

.form-control::placeholder {
  color: rgba(192, 192, 192, 0.6);
  opacity: 1;
}

.btn.url-submit .loading {
  -webkit-animation: spin 1.4s linear infinite;
  -moz-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
}

.svg {
  height: 40px;
  widows: 40px;
}

.link-warn {
  color: rgb(255, 0, 0);
  margin: auto;
  text-align: center;
  margin: 8px 0 -8px;
  transition: 0.3s ease-in-out;
}

.btn-default {
  position: absolute;
  top: 0px;
  right: 12px;
  width: 64px;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  will-change: transform;
  transition: 0.3s ease-in-out;
}

.btn:focus {
  box-shadow: none;
}


/* 
* URL List Start
*/

.link-list {
  /* max-width: 780px; */
  margin: auto;
  margin-top: 50px;
}

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group-item {
  padding: 18px 28px;
  will-change: transform;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.list-group-item:hover {
  transform: scale(1.015);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.22);
}

.list-group-item .url-data {
  padding-right: 50px;
}

.list-group-item .short-url {
  font-size: 1.5rem;
}

.list-group-item .dest-url {
  font-size: 0.9rem;
  color: #969696;
  font-weight: 100;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.list-group {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 50, 0.2) 0px 6px 30px;
}

.list-group .action-copy {
  /* margin-right: 50px; */
}

.list-group .btn {
  will-change: transform;
  transition: 0.3s ease-in-out;
}

.list-group .btn:hover {
  transform: scale(1.015);
}

.feature-list {
  margin: 50px auto;
}

.features-parent {
  background-image: url(/assets/home_features.svg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.feature-bottom {
  height: 100px;
  margin-top: -20px;
  background-color: #c800ff;
}

/* 
* URL List End
*/

@media (max-width: 576px) {
  .form-control {
    font-size: 15px;
    height: 50px;
    padding: 0px 84px 0px 30px;
  }

  svg {
    height: 30px;
    widows: 30px;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-3-19 12:19:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/**
 * ----------------------------------------
 * CSS LOADER
 * ----------------------------------------
 */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(66, 18, 238);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
