<div class="navbar">
  <a class="navbar-brand" [routerLink]="['/']">srtt.me</a>
  <ul class="nav justify-content-end">
    <li class="nav-item github">
      <a class="nav-link" href="https://github.com/BRoy98/srtt.me" target="_blank">github</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="[ '/contact']">contact us</a>
    </li>
    <li class="nav-item">
      <div class="login-parent">
        <a class="login-button" href="#" [routerLink]="[ '/login']">Login</a>
      </div>
    </li>
  </ul>
</div>
