<div class="home-row">
  <div class="column main" [ngClass]="{'expand': !showSignIn}">
    <app-header (signInEvent)="toggleSignIn()" [signInInput]="showSignIn"></app-header>
    <div class="route-parent" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet class="route-outlet" #o="outlet"></router-outlet>
    </div>
  </div>
  <div class="column signin" [ngClass]="{'collapsed': !showSignIn}">
    <button class="btn btn-block close-btn" (click)="toggleSignIn()">
      <span>
        <svg version="1.1" height="14px" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982"
          style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
          <g id="Close">
            <path fill="#000000" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
               c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
               l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
               c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />
          </g>
        </svg>
      </span>
    </button>
    <div class="card card-signin">
      <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <div class="social-parent">
          <button class="btn btn-lg btn-primary btn-block text-uppercase fb-btn"
            [ngClass]="{'disabled': googleSigningIn || fbSigningIn || emailSigningIn}"
            (click)="socialSignIn('facebook')">
            <div class="icon">
              <svg version="1.1" class="logogo loading" *ngIf="fbSigningIn" height="24px"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                <g>
                  <path style="fill:#ffffff;"
                    d="M250,0c14,0,24,10,24,24v94c0,14-10,25-24,25s-25-11-25-25V24C225,10,236,0,250,0z" />
                  <path style="fill:#ffffff;"
                    d="M137,53l55,76c12,16,0,39-20,39c-8,0-14-3-19-10L98,82c-8-11-6-26,5-34S129,42,137,53z" />
                  <path style="fill:#ffffff;" d="M28,204c-13-4-20-18-16-31s18-20,31-16l89,29c13,4,20,18,16,31c-3,10-14,17-24,17c-3,0-4-1-7-2
                 L28,204z" />
                  <path style="fill:#ffffff;" d="M148,283c4,13-3,27-16,31l-89,29c-3,1-5,1-8,1c-10,0-20-7-23-17c-4-13,3-27,16-31l89-29
                 C130,263,144,270,148,283z" />
                  <path style="fill:#ffffff;" d="M187,337c11,8,13,23,5,34l-55,76c-5,7-12,10-20,10c-20,0-31-23-19-39l55-76C161,331,176,329,187,337
                 z" />
                  <path style="fill:#ffffff;"
                    d="M250,357c14,0,24,11,24,25v93c0,14-10,25-24,25s-25-11-25-25v-93C225,368,236,357,250,357z" />
                  <path style="fill:#ffffff;"
                    d="M347,342l55,76c12,16,0,39-20,39c-8,0-14-3-19-10l-55-76c-8-11-6-26,5-34S339,331,347,342z" />
                  <path style="fill:#ffffff;" d="M472,296c13,4,20,18,16,31c-3,10-14,17-24,17c-3,0-4,0-7-1l-89-29c-13-4-20-18-16-31s18-20,31-16
                 L472,296z" />
                  <path style="fill:#ffffff;" d="M352,217c-4-13,3-27,16-31l89-29c13-4,27,3,31,16s-3,27-16,31l-89,28c-3,1-5,2-8,2
                 C365,234,355,227,352,217z" />
                  <path style="fill:#ffffff;"
                    d="M327,168c-20,0-31-23-19-39l55-76c8-11,23-13,34-5s13,23,5,34l-55,76C342,165,335,168,327,168z" />
                </g>
              </svg>
              <img class="logogo fb" *ngIf="!fbSigningIn" src="/assets/facebook-icon.png" width="45px" height="45px">
            </div>
            CONTINUE WITH FACEBOOK
          </button>
          <button class="btn btn-lg btn-primary btn-block text-uppercase google-btn"
            [ngClass]="{'disabled': googleSigningIn || fbSigningIn || emailSigningIn}" (click)="socialSignIn('google')">
            <div class="icon">
              <svg version="1.1" class="logogo loading" *ngIf="googleSigningIn" height="24px"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 500 500" xml:space="preserve">
                <g>
                  <path style="fill:#ffffff;"
                    d="M250,0c14,0,24,10,24,24v94c0,14-10,25-24,25s-25-11-25-25V24C225,10,236,0,250,0z" />
                  <path style="fill:#ffffff;"
                    d="M137,53l55,76c12,16,0,39-20,39c-8,0-14-3-19-10L98,82c-8-11-6-26,5-34S129,42,137,53z" />
                  <path style="fill:#ffffff;" d="M28,204c-13-4-20-18-16-31s18-20,31-16l89,29c13,4,20,18,16,31c-3,10-14,17-24,17c-3,0-4-1-7-2
                 L28,204z" />
                  <path style="fill:#ffffff;" d="M148,283c4,13-3,27-16,31l-89,29c-3,1-5,1-8,1c-10,0-20-7-23-17c-4-13,3-27,16-31l89-29
                 C130,263,144,270,148,283z" />
                  <path style="fill:#ffffff;" d="M187,337c11,8,13,23,5,34l-55,76c-5,7-12,10-20,10c-20,0-31-23-19-39l55-76C161,331,176,329,187,337
                 z" />
                  <path style="fill:#ffffff;"
                    d="M250,357c14,0,24,11,24,25v93c0,14-10,25-24,25s-25-11-25-25v-93C225,368,236,357,250,357z" />
                  <path style="fill:#ffffff;"
                    d="M347,342l55,76c12,16,0,39-20,39c-8,0-14-3-19-10l-55-76c-8-11-6-26,5-34S339,331,347,342z" />
                  <path style="fill:#ffffff;" d="M472,296c13,4,20,18,16,31c-3,10-14,17-24,17c-3,0-4,0-7-1l-89-29c-13-4-20-18-16-31s18-20,31-16
                 L472,296z" />
                  <path style="fill:#ffffff;" d="M352,217c-4-13,3-27,16-31l89-29c13-4,27,3,31,16s-3,27-16,31l-89,28c-3,1-5,2-8,2
                 C365,234,355,227,352,217z" />
                  <path style="fill:#ffffff;"
                    d="M327,168c-20,0-31-23-19-39l55-76c8-11,23-13,34-5s13,23,5,34l-55,76C342,165,335,168,327,168z" />
                </g>
              </svg>
              <img class="logogo google" *ngIf="!googleSigningIn" src="/assets/google-icon.png" width="45px"
                height="45px">
            </div>
            CONTINUE WITH GOOGLE
          </button>
        </div>
        <div class="signin-devider">
          <span class="or">OR</span>
        </div>
        <form class="form-signin">
          <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control"
              [ngClass]="{'disabled': googleSigningIn || fbSigningIn || emailSigningIn}"
              [readonly]="googleSigningIn || fbSigningIn || emailSigningIn" placeholder="Email address" required
              autofocus>
          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control"
              [ngClass]="{'disabled': googleSigningIn || fbSigningIn || emailSigningIn}"
              [readonly]="googleSigningIn || fbSigningIn || emailSigningIn" placeholder="Password" required>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase"
            [ngClass]="{'disabled': googleSigningIn || fbSigningIn || emailSigningIn}" type="submit">Sign
            in</button>
        </form>
      </div>
    </div>
  </div>
</div>
