<div class="container">
  <div class="page-title">
    Privacy Policy
  </div>
  <div class="content-parent">
    <h5><strong>Introduction</strong></h5>
    <p>srtt.me operates the srtt.me website, which provides the SERVICE.</p>
    <p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of
      Personal Information if anyone decided to use our Service, the srtt website.</p>
    <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible
      at srtt.me, unless otherwise defined in this Privacy Policy.</p>

    <h5><strong>Information Collection and Use</strong></h5>
    <p>For a better experience while using our Service, we may require you to provide us with certain personally
      identifiable information, including but not limited to your name, email address. The information that we collect
      will
      be used to contact or identify you.</p>

    <h5><strong>Log Data</strong></h5>
    <p>We want to inform you that whenever you visit our Service, we collect information that your browser sends to us
      that is called Log Data. This Log Data may include (but not limited to) information such as your computer’s
      Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your
      visit, the time spent on those pages, and other statistics.</p>

    <h5><strong>Login And Registration</strong></h5>
    <p>We want to inform you that , We only keep account of the details that you provide while registering with us ONLY,
      nothing more. Accounts created in srtt.me will not be shared publically and we ensure to keep your account details
      private and protected at all times. </p>
    <p>Also we would like to state that , we use Google API and Facebook API to give users an option to login , only the
      required details are fetched.</p>

    <h5><strong>Cookies</strong></h5>
    <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent
      to your browser from the website that you visit and are stored on your computer’s hard drive. </p>
    <p>Our website uses these "cookies" to collection information and to improve our Service.</p>

    <h5><strong>Service Providers</strong></h5>
    <p>We may employ third-party companies and individuals due to the following reasons:</p>
    <p>To facilitate our Service;
      <br>
      To provide the Service on our behalf;
      <br>
      To perform Service-related services; or
      <br>
      To assist us in analyzing how our Service is used.
      <br>
      We want to inform our Service users that these third parties have no access to your Personal Information.
    </p>

    <h5><strong>Security</strong></h5>
    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially
      acceptable means of protecting it. But remember that no method of transmission over the internet, or method of
      electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
    </p>

    <h5><strong>Warrant</strong></h5>
    <p>The materials appearing on srtt website could include technical, typographical, or photographic errors. srtt does
      not warrant that any of the materials on its website are accurate, complete or current. srtt may make changes to
      the materials contained on its website at any time without notice. However srtt does not make any commitment to
      update the materials.
    </p>
    <p>srtt has not reviewed all of the sites linked to its website and is not responsible for the contents of any such
      linked site. The inclusion of any link does not imply endorsement by srtt of the site. Use of any such linked
      website is at the user's own risk.</p>

    <h5><strong>Disclaimer</strong></h5>
    <p>The materials appearing on srtt website could include technical, typographical, or photographic errors. srtt does
      not warrant that any of the materials on its website are accurate, complete or current. srtt may make changes to
      the materials contained on its website at any time without notice. However srtt does not make any commitment to
      update the materials.
    </p>
    <p>srtt has not reviewed all of the sites linked to its website and is not responsible for the contents of any such
      linked site. The inclusion of any link does not imply endorsement by srtt of the site. Use of any such linked
      website is at the user's own risk.</p>

    <h5><strong>Links to Other Sites</strong></h5>
    <p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that
      site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the
      Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy
      policies, or practices of any third-party sites or services.
    </p>

    <h5><strong>Children’s Privacy</strong></h5>
    <p>We do not knowingly collect personal information from children. If we learn that we have collected personal
      information of a child under 13 (or older as required by applicable law), we will take steps to delete such
      information from our files as soon as possible.
    </p>

    <h5><strong>Changes to This Privacy Policy</strong></h5>
    <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any
      changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are
      effective immediately, after they are posted on this page.
    </p>

    <h5><strong>Contact Us</strong></h5>
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us throuh the
      <a href="https://srtt.me/contact">contact form</a>.
    </p>
  </div>

</div>
